<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fykj.gpc.bmi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon1"
        android:label="@string/app_name" >
        <activity
            android:name=".Bmi"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Report"
            android:label="REPORT" >
        </activity>
        <activity
            android:name=".XmlTest"
            android:label="ReadXML" >
        </activity>
        <activity
            android:name=".MenuTest"
            android:label="MenuTest" >
        </activity>
        <activity
            android:name=".LayoutTest"
            android:label="LayoutTest" >
        </activity>
        <activity
            android:name=".FrameTest"
            android:label="FrameTest" />
        <activity
            android:name=".TableTest"
            android:label="TableTest" />
        <activity
            android:name=".Regist"
            android:label="User Regist" />
        <activity
            android:name=".TabTest"
            android:label="TabTest" />
        <activity
            android:name=".ProgressBarTest"
            android:label="ProgressBarTest" />
        <activity
            android:name=".ListViewTest"
            android:label="ListViewTest" />
        <activity
            android:name=".ListViewActivity"
            android:label="ListActivityTest" />
        <activity
            android:name=".ScrollViewTest"
            android:label="ScrollViewTest" >
        </activity>
        <activity
            android:name=".ExpandableTest"
            android:label="ExpandableList" >
        </activity>
        <activity
            android:name=".MySeekBarTest"
            android:label="MySeekBarTest" >
        </activity>
        <activity
            android:name=".PreferenceActivityTest"
            android:label="PreferenceActivityTest" >
        </activity>
        <activity
            android:name=".ViewFollowFinger"
            android:label="DrawView" >
        </activity>
        <activity
            android:name=".IntentTest"
            android:label="IntentTest" >
            <intent-filter>
                <action android:name="com.fykj.gpc.bmi.ACTION" />
                <!-- 该categroy必须配置，否则会无法启动IntentTest组件 -->
                <category android:name="android.intent.category.DEFAULT" />
                <!-- 这是自定义的categroy属性 -->
                <category android:name="com.fykj.gpc.bmi.CATEGORY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClipDrawableTest"
            android:label="ClipDrawableTest" >
        </activity>
        <!-- 该Activity使用了主题资源 -->
        <activity
            android:name=".AttributesDemo"
            android:label="AttributesDemo"
            android:theme="@style/style_window"></activity>
    </application>

    <uses-sdk android:minSdkVersion="8" />

</manifest>